doctype html
html
  head
    meta(charset='UTF-8')
    |   
    title Rudra
    |     
    link(rel='stylesheet', href='/css/style.css', media='screen', type='text/css')
  body
    .main
      #home
        h3 
          a(href="/home/") Home 
          a(href="/summary/") Summary 
          a(href="/report/") Report 
          a(href="/tools/") Tools 
          a(href="/settings/") Settings 
          a(href="/logout/#{csrf}") Logout 
        |     
        fieldset
          form(action='/', method='post', target='_blank')
            input(type='hidden', name='csrf', value='#{csrf}')
          br
          br
          table(style='display:inline')
            thead
              th Tools
            tbody
               each item in toolslist
                 tr
                  td #{item.toolID}
          span
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          table(style='display:inline')
            thead
              tr
                th Launcher
            tbody
               each item in dataclient
                 tr
                  td             
                    if item == "No Clients"
                     | No Clients
                    else
                      a(href="/gettools/" + item) #{item}
          span
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          table(style='display:inline')
            thead
              th Tool Group 
            tbody
               each item in toolGroup
                 tr
                  td 
                    a(href="/gettoolgroup/#{item.toolGroupName}") #{item.toolGroupName}
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          a(href="/custom") >> Create ToolGroup       
      // end login-form
 
