doctype html
html
  head
    meta(http-equiv='refresh', content='10', charset='UTF-8')
    title Rudra
    link(rel='stylesheet', href='/css/style.css', media='screen', type='text/css')
    script(type='text/javascript').
      function Pager(tableName, itemsPerPage) {
      this.tableName = tableName;
      this.itemsPerPage = itemsPerPage;
      this.currentPage = 1;
      this.pages = 0;
      this.inited = false;
      this.showRecords = function(from, to) {
      var rows = document.getElementById(tableName).rows;
      // i starts from 1 to skip table header row
      for (var i = 1; i < rows.length; i++) {
      if (i < from || i > to)
      rows[i].style.display = 'none';
      else
      rows[i].style.display = '';
      }
      }
      this.showPage = function(pageNumber) {
      if (! this.inited) {
      alert("not inited");
      return;
      }
      var oldPageAnchor = document.getElementById('pg'+this.currentPage);
      oldPageAnchor.className = 'pg-normal';
      this.currentPage = pageNumber;
      var newPageAnchor = document.getElementById('pg'+this.currentPage);
      newPageAnchor.className = 'pg-selected';
      var from = (pageNumber - 1) * itemsPerPage + 1;
      var to = from + itemsPerPage - 1;
      this.showRecords(from, to);
      }
      this.prev = function() {
      if (this.currentPage > 1)
      this.showPage(this.currentPage - 1);
      }
      this.next = function() {
      if (this.currentPage < this.pages) {
      this.showPage(this.currentPage + 1);
      }
      }
      this.init = function() {
      var rows = document.getElementById(tableName).rows;
      var records = (rows.length - 1);
      this.pages = Math.ceil(records / itemsPerPage);
      this.inited = true;
      }
      this.showPageNav = function(pagerName, positionId) {
      if (! this.inited) {
      alert("not inited");
      return;
      }
      var element = document.getElementById(positionId);
      var pagerHtml = '<h2><span onclick="' + pagerName + '.prev();" class="pg-normal"> « Prev </span> ';
      for (var page = 1; page <= this.pages; page++)
      pagerHtml += '<span id="pg' + page + '" class="pg-normal" onclick="' + pagerName + '.showPage(' + page + ');">' + page + '</span> ';
      pagerHtml += '<span onclick="'+pagerName+'.next();" class="pg-normal"> Next »</span></h2>';
      element.innerHTML = pagerHtml;
      }
      }
    
  body
    .main
      #home
        h3
          a(href='/home/') Home 
          a(href='/summary/') Summary 
          a(href='/report/') Report 
          a(href='/tools/') Tools 
          a(href='/settings/') Settings 
          a(href='/logout/#{csrf}') Logout 
        fieldset
          center
            br
            form(action='/getreport', method='post', target='_blank')
              input(type='hidden', name='csrf', value='#{csrf}')
              table
                tr
                  td Enter Scan ID
                  td
                    input(type='text', name='scanid', onkeypress='javascript:return isNumber (event)', required)
                  td(width='40%')
                    input(type='submit', value='Get Report')
              br
              #pageNavPosition(style='padding-top: 4px', align='center')              
              table#summaryTable(border='1')
                thead
                  tr
                    th SELECT
                    th SCAN ID
                    th TARGET
                    th TOOL NAME
                    th DATE 
                tbody
                  each item in summaryData
                   tr
                    td 
                      input(type="checkbox", name='scanid', value='#{item.scanID}')
                    td=item.scanID
                    td #{item.target}
                    td #{item.toolName}
                    td #{item.date}
               input(type='submit', value='Generate Report')
    script(type='text/javascript').
      <!--
      var pager = new Pager('summaryTable', 3);
      pager.init();
      pager.showPageNav('pager', 'pageNavPosition');
      pager.showPage(2);

