doctype html
html
  head
    meta(charset='UTF-8')
    |   
    title Rudra Tool List
    |     
    link(rel='stylesheet', href='/css/style.css', media='screen', type='text/css')
  body
    .main
      #home
        h3 
          a(href="/home/") Home 
          a(href="/report/") Report 
          a(href="/tools/") Tools 
          a(href="/settings/") Settings 
          a(href="/logout/#{csrf}") Logout
        |     
        fieldset
          center
            span Tool List
            br
            br
            each item in tools
             a(href="/gettoolinfo/#{client}/#{item}") #{item} &nbsp;&nbsp; &nbsp; &nbsp;    
             a(href="/deleteclienttool/#{client}/#{item}") Delete 
             br
      // end login-form
 
