doctype html
html
  head
    meta(charset='UTF-8')
    |   
    title Rudra Tool Run Options
    |     
    link(rel='stylesheet', href='/css/style.css', media='screen', type='text/css')
  body
    .main
      #configure
        h3 
          a(href="/home/") Home 
          a(href="/summary/") Summary 
          a(href="/report/") Report 
          a(href="/tools/") Tools 
          a(href="/settings/") Settings 
          a(href="/logout/#{csrf}") Logout
        |     
        fieldset
          center
            span Configure #{toolname}
            br
            br
            form(action='/runtool', method='post')
              input(type='hidden', value='#{csrf}', name='csrf')
              table
                tr
                  td Company Name(*)
                  td 
                    input(type='text', name='company_name', required, minlength='4', value='')

                  td Department Name
                  td 
                    input(type='text', name='dept_name', required, minlength='4', value='')
                tr
                  td Tool Group Name 
                  td 
                    input(type='text', name='tag', required, minlength='4', value='')
                  td Tag
                  td 
                    input(type='text', name='tool_group_name', required, minlength='4', value='')
              br
              table  
                tr
                  td #{toolname} Parameters        
              table
                each keydata in keys
                  tr
                    if (values[keydata].type == 'string')
                      td  #{keydata}
                      td  
                        input(type='text', name='#{keydata}')
                    if (values[keydata].type == 'option')
                      td  #{keydata}
                      td
                        select(name='#{keydata}')
                          - i = 0
                          each opt in values[keydata].options
                            if (values[keydata].optionValue[i] == values[keydata]['default value'])
                              option(value='#{values[keydata].optionValue[i]}', selected='selected') #{opt}
                            else
                              option(value='#{values[keydata].optionValue[i]}') #{opt}
                            - i++
                tr          
                  td(colspan=2)
                    input(type='submit', value='Run')
      // end login-form
 
